CompileFlags:
  Add: [-Wno-unknown-attributes, -Wno-maybe-uninitialized, -Wno-unknown-warning-option]
  Remove:
    [
      -W*,
      -mno-thumb-interwork,
      -mcall-prologues,
      -D__has_include*,
      -D__has_include_next*,
    ]
